* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  text-align: center;
  justify-content: center;
  padding: 30px;
}

.top-header,
.nav_links,
ul,
li {
  display: flex;
}

.nav_links {
  justify-content: space-around;
  width: 500px;
}

a {
  color: #000;
  text-decoration: none;
  list-style: none;
  font-size: 26px;
  font-weight: 700;
  align-items: center;
}

a:hover {
  color: dodgerblue;
}

.a-link {
  padding-left: 20px;
}

.dots {
  width: 150px;
  text-decoration: none;
  list-style: none;
  flex-direction: row;
}

.logo {
  margin-left: 30px;
  color: #000;
  font-size: 26px;
  font-weight: 700;
  align-items: center;
}

.line {
  border-right: 2px solid #000;
}

.top-header,
.book-list {
  border: 2px solid #000;
  width: 100%;
}

.top-header {
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.container {
  border: 2px solid #000;
  margin: 0.625rem 0.4rem 0 0.4rem;
}

.display-div {
  text-align: center;
  justify-content: space-between;
  display: flex;
  padding: 8px;
  width: 100%;
  margin: 0;
}

.display-div:nth-child(odd) {
  background-color: lightgray;
}

h2 {
  font-size: 38px;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

h2::before {
  display: block;
  position: relative;
  margin-bottom: 40px;
  content: " ";
  background-color: #000;
  height: 4px;
  width: 20%;
  top: 20%;
  left: 40%;
}

input {
  font-size: 20px;
  padding: 0 0.25rem;
  border: 3px solid #000;
}

input::placeholder {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.add--btn {
  font-size: 22px;
  padding: 0 0.25rem;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px 3px #000;
  font-weight: bold;
  text-align: end;
  transform: translateX(5.1rem);
}

.rmBtn {
  font-size: 22px;
  padding: 0 0.25rem;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px 3px #000;
  font-weight: bold;
  text-align: end;
}

.contact-section {
  flex: 1 0 auto;
  color: #000;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 150px;
}

.contact-section h3 {
  font-size: 34px;
  font-weight: 700;
  margin: 40px;
}

.contact-info-list {
  display: block;
  margin: 30px;
}

.contact-info-list li {
  display: list-item;
  list-style: none;
}

footer {
  width: 100%;
  border: 2px solid #000;
  margin-top: 40px;
  flex-shrink: 0;
}

.footer {
  text-align: start;
  padding: 30px;
  padding-left: 1em;
  font-size: 22px;
}

.footer p {
  font-size: 26px;
  font-weight: 700;
}
